 <!DOCTYPE html>
<html>
<body>

<h1><font size="5">
Please read carefully the following Terms and Conditions before proceeding with the Freight Exchange Registration</font></h1>
<h2>
Terms and Conditions		
</h2>
<p1> 1. ACCEPTANCE OF THIS AGREEMENT </p1></br>
<p2> 2. SCOPE OF THIS AGREEMENT </p2></br>
<p3> 3. MODIFICATIONS TO THIS AGREEMENT	</p3></br>
<p4> 4. PERMISSION TO USE THE WEB SITE </p4></br>
<p5> 5. WEB SITE COMMUNICATIONS AND ORDERS</p5></br>
<p6> 6. ERRORS</p6></br>
<p7> 7. NO ADVICE </p7></br>
<p8> 8. DISCLAIMER, LIABILITY EXCLUSION, LIABILITY LIMITATION, RELEASE AND INDEMNITY</p8></br>
<p9> 9. OWNERSHIP AND PERMITTED USES OF THE WEB SITE</p9></br>
<p10>10. TRADEMARK INFORMATION	</p10></br>
<p11>11. PERSONAL INFORMATION PRIVACY</p11></br>
<p12>12. OTHER SITES</p12></br>
<p13>13. LINKING, FRAMING, MIRRORING, AND DATA-MINING THE WEB SITE</p13></br>
<p14>14. TERMINATION OF THIS AGREEMENT AND THE WEB SITE	</p14></br>
<p15>15. GOVERNING LAW AND DISPUTE RESOLUTION</p15></br>
<p16>16. OTHER MATTERS</p16></br>
<p17>This Agreement is subject to change without notice.</p17></br>
</body>
</html> 